Byte-compiled / optimized
*__pycache__*

# distribution
deeprank.egg-info
database*

# some example file
example/grid/ELEC
example/grid/VDW
example/grid/data_viz
example/grid/input
example/workflow/test_out

# datafile
#*.pdb
*.CHARGE
*.db
*.COULOMB
*.VDWAALS
*.izone
*.lzone
*.ref_pairs

# docs
#docs/_build
#docs/_static
#docs/_templates
