numpy >= 1.13
tqdm
scipy
h5py

# pythroch
http://download.pytorch.org/whl/cu80/torch-0.2.0.post3-cp36-cp36m-manylinux1_x86_64.whl
torchvision

# tensorflow/board
tensorflow
tensorflow-tensorboard
tensorboard-pytorch