include LICENSE
include README.md
include deeprank/features/forcefield/*
graft test/1AK4
prune deeprank/utils
include deeprank/utils/logger_helper.py
exclude test/test_hitrate_successrate.py
include CHANGELOG.md
include CODE_OF_CONDUCT.rst
include CONTRIBUTING.rst
include NOTICE
include developer_guideline.md
include deeprank/generate/kernel_map.c